@page "/"

<PageTitle>Home</PageTitle>

<h1>Autó Szerelő Weboldal</h1>

<h3>Kérlek válassz egy lehetőséget</h3>

<div>
    <a href="/kliens/add" class="btn btn-primary">Új Kliens Hozzáadása</a>
    <a href="/kliens/lista" class="btn btn-primary">Kliensek Listázása</a>
    <a href="/munka/add" class="btn btn-primary">Új Munka Hozzáadása</a>
    <a href="/munka/lista" class="btn btn-primary">Munkák Listázása</a>
</div>
