<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AutoSzerelo.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kliens/lista">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Kliensek
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kliens/add">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Új kliens
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="munka/lista">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Munkák
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="munka/add">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Új munka
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
